.side-bar,.side-bar-copy{
  backdrop-filter: blur(10px);
}
.side-bar-copy {
  backdrop-filter: blur(10px);
  transition: transform 1s ease, opacity 1s ease;
}



.side-bar-copy.open {
  transform: translateX(0);
  opacity: 1;
}


.glow,.glow-copy{
  will-change: transform;
  transition: transform 1s;
}

.glow:hover{
  background: rgb(238, 37, 30);
  box-shadow: 1px 1px 15px 10px rgb(238, 37, 30);
  text-shadow:
  1px 1px 7px red,
  0 0 1em #0000ff,
  0 0 2em blue;
  transform: translateY(-3px) scale(1.1);
}

.glow-copy:hover{
  background: rgb(7, 84, 136);
  box-shadow: 1px 1px 15px 10px rgb(7, 84, 136);
  text-shadow:
  1px 1px 7px rgb(7, 84, 136),
  0 0 1em #00aeff,
  0 0 2em #00eeff;
  transform: translateY(-3px) scale(1.1);
  
}


