#contactForm{
   will-change: transform;
  transition: transform 1s;
}

:hover#contactForm{
      transition: transform 1s;
    transform: translateY(-15px);
}

.form-area{
  background-color: rgb(56, 56, 56);
}

:hover.form-div{
  text-shadow:
  1px 1px 7px red,
  0 0 1em blue,
  0 0 0.2em blue;
}

:hover.form-area{
   box-shadow: 1px 1px 5px red,
  0 0 1em blue,
  0 0 0.2em blue;  
}

:hover.form-btn{
  text-shadow:
  1px 1px 7px red,
  0 0 1em blue,
  0 0 0.2em blue;
  
  box-shadow: 
  1px 1px 5px red,
  0 0 1em blue,
  0 0 0.2em blue;  
}